table, th, td {
    border: 1px solid;
    font-weight: normal;
    border-collapse: collapse;
}

tr.flipped-table { display: block; float: left; }
.flipped-table { display: block; }

.table-header {
    font-weight: bold;
}