table, th, td {
    border: 1px solid;
    font-weight: normal;
    border-collapse: collapse;
}

tr.flipped-table { display: block; float: left; }
.flipped-table { display: block; }

.table-header {
    font-weight: bold;
}

.negative-compare {
    color: red !important;
    border-color: black;
}

.positive-compare {
    color: limegreen !important;
    border-color: black;
}

.thead-dark th {
    border-color: #000000;
    background-color: #555555;
    color:  #BBBBBB;

}